.banner {
    background: url('/src/img/banner-bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner #intro {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}

.banner #intro #sub-content {
    width: 567px;
}

.banner #intro #sub-content h1 {
    font-size: 85px;
    font-family: var(--fontFamily);
}

.banner #intro #sub-content p {
    font-size: 22px;
    font-weight: lighter;
}

.banner #intro button{
    width: 219px;
    padding: 26px 48px 26px 48px;
    background-color: var(--primary2);
    border-radius: 18px;
    color: var(--primary3);
    font-size: 18px;
}