@import url('variable.css');
@import url('navbar.css');
@import url('banner.css');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    overflow-x: hidden;
}

header {
    margin: auto;
    margin-top: 44px;
    margin-bottom: 44px;
    width: 1200px;
}

.banner{
    margin: auto;
    width: 1920px;
    height: 1042px;
    background-color: aquamarine;
}
