@import url('variable.css');

nav {
    display: flex;
    column-gap: 24.938rem;
    justify-content: center;
    font-family: var(--fontFamily);
    font-weight: bold;
}

nav #nav-menu {
    display: flex;
    width: 35.75rem;
    justify-content: space-evenly;
}

nav #nav-menu a{
    color: black;
    text-decoration: none;
}