.testimoni-section {
    padding: 200px 0;
}

.testimoni-section .container {
    background-color: var(--neutral);
    border-radius: 77px;
    padding: 88px 24px;
}

.testimoni-section .container #section-title {
    font-weight: normal;
    font-size: 50px;
    margin: auto;
    text-align: center;
    width: 547px;
}

.testimoni-section .container .card-container {
    margin-top: 38px;
}

.testimoni-section .container .card-container .testimoni-card {
    background-color: white;
    border-radius: 44px;
    height: 339px;
    padding: 53px 37px 0 37px;
    width: 370px;
}

.testimoni-card .card-head {
    align-items: center;
    column-gap: 23px;
    display: flex;

}

.testimoni-card .card-head #profile-picture {
    border-radius: 99px;
    height: 77px;
    object-fit: cover;
    width: 77px;
}

.testimoni-card .card-head #address {
    font-size: 18px;
}

.testimoni-card #testimoni-content {
    font-size: 22px;
    margin-top: 25px;
}