@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


:root {
    --primary1 : #CDA274;
    --primary2 : #292F36;
    --primary3 : #F4F0EC;
    --fontFamily : 'Josefin Sans', sans-serif;
}