@import url("variables.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  color: var(--text-primary);
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  font-family: "DM Serif Display", serif;
  margin: 0;
}

p,
span,
a {
  color: var(--text-secondary);
  font-family: "Jost", sans-serif;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  align-items: center;
  background-color: var(--text-primary);
  border-radius: 18px;
  border: none;
  column-gap: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 26px 48px 26px 48px;
}

.button span {
  color: var(--neutral);
  transition: color 0.3s ease-in-out;
}

.button:hover span {
  color: var(--primary);
}

.button img {
  transition: transform 0.3s ease-in-out;
}

.button:hover img {
  transform: translateX(5px);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 94px;
}

.section-title{
  margin: auto;
  text-align: center;
}

.section-title #title {
  font-size: 50px;
}

.section-title #sub-title {
  font-size: 22px;
  margin-top: 8px;
  color: var(--text-secondary);
}