@import url("variables.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  color: var(--text-primary);
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  font-family: "DM Serif Display", serif;
  margin: 0;
}

p,
span,
a {
  color: var(--text-secondary);
  font-family: "Jost", sans-serif;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 48px 26px 48px;
  font-size: 18px;
  background-color: var(--text-primary);
  border-radius: 18px;
  border: none;
  column-gap: 10px;
}

.button span {
  color: var(--neutral);
  transition: color 0.3s ease-in-out;
}

.button:hover span {
  color: var(--primary);
}

.button img {
  transition: transform 0.3s ease-in-out;
}

.button:hover img {
  transform: translateX(5px);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 94px;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
